{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #e3e7eb;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
  <div class="card my-4">
    <h5 class="card-header">About Us</h5>
    <div class="card-body">
      <p class="card-text">
        Discover Staff-Adviser: The ultimate appointment scheduling app,
        simplifying your life. Say goodbye to the scheduling chaos with
        user-friendly booking, automated reminders, and real-time calendar sync.
        It's secure, efficient, and customizable. Join us at
        [www.staff-adviser.com](https://www.staff-adviser.com) to elevate your
        scheduling experience today. #StaffAdviser #AppointmentScheduling
        #Productivity 💼📅
      </p>
      <a href="#" class="btn btn-danger">Know more!</a>
    </div>
  </div>
</div>

{% endblock sidebar %}
